*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.navbar{
    background-color: black;
    height: 10vh;
    width: 100%;
    position: static;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    padding: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 10vh;
    width: 8vw;
    border-radius: 50%;

}
.logo span{
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 900;
}
.contents{
    margin-left: 3rem;
    display: flex;
    /* justify-content: center; */
    width: 70vw;

}
.list {
    list-style: none;
    font-size: 1rem;
    color: white;
    display: flex;
    
}
.list li{
    margin-left: 2rem;
    border-radius: 0.5rem;
}
.list li:hover{
    background-color: grey;
}
.container{
   
    width: 60%;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 70vh;
    margin-left: 20%;
    border-radius: 2rem;
    background-image: url("P3EtD4C.jpg");
    background-size: cover;
    color: white;
    padding: 2rem;
    /* align-self: center; */
    
}
footer{
    background-color: rgb(46, 44, 41);
    height: 10vh;
    width: 100%;
    position: sticky;
    /* margin-bottom: 0px; */
    /* position: sticky; */
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.level{
    width: 70%;
   
}
.icons{
    width: 12vw;
    display: flex;
    justify-content: space-evenly;

}
.icons:hover{
    cursor: pointer;
}
.song-container{
    width: 60%;
    height: 60vh;
    margin-top: 3rem;
}
.song-list{
    background-color: white;
    height: 8vh;
    width: 80%;
    border-radius: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.song-list img{
    height: 8vh;
    width: 6vw;
    border-radius: 50%;
    /* transition: transform .2s; */


}
.song-list p,i{
    font-weight: 1rem;
    color: black;
}
.song-list i:hover{
    cursor: pointer;
}
/* .song-list:hover{

    transform: scale(1.5);
} */
